# Core ETL
pydantic==2.9.2
python-dotenv==1.0.0

# Database
psycopg2-binary==2.9.9
sqlalchemy==2.0.23

# Metrics
prometheus-client==0.20.0

# Streamlit Dashboard
streamlit==1.30.0
pandas==2.1.4

# Apache Airflow (if running locally)
# apache-airflow==2.10.3